<!DOCTYPE html>
<html>
<head>
    <title>Adam's LLM Spotify Playlist Creator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>

    <script>
       $(document).ready(function() {
    $('#prompt').keypress(function(event) {
        if (event.keyCode === 13 && !event.shiftKey) {
            event.preventDefault();
            $('form').submit();
        }
    });

    $('form').on('submit', function(event) {
        event.preventDefault();
        var userMessage = $('#prompt').val();
        displayUserMessage(userMessage);
        fetchStream(userMessage);
        $('#prompt').val('');
    });
    });


    function fetchStream(prompt) {
        fetch('/chat', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({prompt: prompt})
        })
        .then(response => {
            const reader = response.body.getReader();
            let completeChunk = '';

            return new ReadableStream({
                start(controller) {
                    function push() {
                        reader.read().then(({ done, value }) => {
                            if (done) {
                                if (completeChunk) {
                                    updateChatUI(completeChunk);
                                }
                                controller.close();
                                return;
                            }

                            let chunkText = new TextDecoder().decode(value, {stream: true});
                            completeChunk += chunkText;

                            // Check for a chunk delimiter (e.g., newline) and process accordingly
                            if (chunkText.endsWith('\n')) {
                                updateChatUI(completeChunk);
                                completeChunk = ''; // Reset for the next chunk
                            }

                            controller.enqueue(value);
                            push();
                        });
                    }
                    push();
                }
            });
        })
        .catch(err => console.error(err));
    }


    var currentBotMessageId = null;

    function displayUserMessage(message) {
        var dateTime = new Date();
        var time = dateTime.toLocaleTimeString();
        var messageId = 'user-msg-' + dateTime.getTime(); // Unique ID for user message

        $('#response').append('<div id="' + messageId + '" class="user-message"> <i class="bi bi-person"></i>: ' + message + '</div>');
        currentBotMessageId = null; // Reset bot message ID for new response
    }

    function updateChatUI(chunk) {
        var dateTime = new Date();
        var time = dateTime.toLocaleTimeString();

        if (!currentBotMessageId) {
            currentBotMessageId = 'bot-msg-' + dateTime.getTime(); // Unique ID for bot message
            $('#response').append('<div id="' + currentBotMessageId + '" class="bot-message"><i class="bi bi-robot"></i>: </div>');
        }

        var converter = new showdown.Converter();
        var html = converter.makeHtml(chunk);
        $('#' + currentBotMessageId).append(html); // Append chunk as HTML
    }


    </script>
</head>
<body>



    <h1>Adam's LLM Spotify Playlist Maker</h1>

    {% if display_name or profile_picture %}
    <div class="user-profile">
        <img src="{{ profile_picture if profile_picture else 'https://via.placeholder.com/60'}}" alt="Profile Picture" width="60" height="60">
        <h2>{{ display_name if display_name else "Mystery User" }}</h2>
    </div>
    {% endif %}

    <div class="content-container">
        <!-- Spotify Playlist Iframe -->
        <div class="spotify-playlist-container">
            <iframe src="{{ playlist_url }}" width="100%" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>


        <div class="container p-3 chat-container"> 
            <div class="response-container"> 
                <div id="response"></div> 
            </div> 
            <div class="prompt-container"> 
                <form method="post" action=""> 
                    <label for="prompt" class="form-label"><strong>Your Message:</strong></label> 
                    <textarea class="form-control" id="prompt" name="prompt" rows="3"></textarea> 
                    <br> 
                    <button class="btn btn-primary" type="submit">Send</button> 
                </form> 
            </div> 
        </div> 
    </div>
    <div style="margin: 20px;">
        <a href="/logout" class="logout-button">Logout</a>
    </div>
</body>
</html>
